* {
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
}

/* --------------- temporary styles for structural html -------------- */
* {
    padding: 0.5rem;
    border: 1px solid rgb(225, 225, 225);
}

body { border: none; }
html { border: none;}

/*----------------- Imaage styles ----------------- */
.bg-image {
    background-image: url('/images/the-sleep-co-1.jpeg');
    background-size: cover;
    min-height: 10rem;
}

/*--------------- Universal styles & utility classes --------------  */
.padding {padding: 5%}
.p-sm {padding: 1rem;}

.bg-dark {
    background-color: #192B37;
    color: white;
}

